/* ==========================================================================
   0. Includes
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: OpenSans;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans_light_swedish/OpenSans-regular-webfont.eot");
  src: url("../fonts/opensans_light_swedish/OpenSans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_light_swedish/OpenSans-regular-webfont.woff") format("woff"), url("../fonts/opensans_light_swedish/OpenSans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans_light_swedish/OpenSans-regular-webfont.svg#OpenSans") format("svg"); }

/* ==========================================================================
   1. General - Base Styles
   ========================================================================== */
html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%; }

body {
  height: 100%;
  max-height: 100%;
  font-family: 'OpenSans', serif;
  font-size: 2.0rem;
  line-height: 1.6em;
  color: #3A4145;
  background: #F1F1F0;
  margin: 0; }

a, a:visited, a:link {
  text-decoration: none; }

::-moz-selection {
  color: #222;
  background: #f96e5b;
  text-shadow: none; }

::selection {
  color: #222;
  background: #f96e5b;
  text-shadow: none; }

main {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%; }
  main:before, main:after {
    content: " ";
    display: table; }
  main:after {
    clear: both; }

input[type="submit"]:hover {
  opacity: 0.8;
  cursor: pointer; }

input {
  font-family: 'OpenSans', serif; }

textarea {
  font-family: Helvetica Neue, Helvetica, serif;
  font-size: 0.875em;
  font-weight: 200; }

/* ==========================================================================
   2. Content - Header
   ========================================================================== */
header#main-header {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px; }
  header#main-header:before, header#main-header:after {
    content: " ";
    display: table; }
  header#main-header:after {
    clear: both; }

.inner-header {
  display: block;
  float: left;
  margin-right: 0%;
  width: 66.66667%;
  margin-left: 16.66667%;
  background: #F6DE79;
  height: 40%;
  min-height: 400px;
  display: table; }
  .inner-header:last-child {
    margin-right: 0; }

.site-title {
  color: #fff; }
  .site-title a {
    color: #fff; }

.v-middle {
  display: table-cell;
  vertical-align: middle;
  word-break: break-word; }

.site-bio {
  text-align: center;
  width: 100%; }

/* ==========================================================================
   3. Content - Posts
   ========================================================================== */
article.post {
  display: block;
  float: left;
  margin-right: 0%;
  width: 66.66667%;
  margin-left: 16.66667%;
  background: #fff;
  padding: 40px 60px 20px 60px; }
  article.post:last-child {
    margin-right: 0; }
  article.post section {
    padding-bottom: 20px; }
    article.post section p {
      word-break: break-word; }
  article.post .meta-date {
    font-size: 0.875em;
    color: #999; }

.post-title a {
  color: #7bc1a1;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; }
  .post-title a:hover {
    color: #639b81; }

/* ==========================================================================
   3. Content - Single Post
   ========================================================================== */
/* ==========================================================================
   Content - Post Comments
   ========================================================================== */
section.comments {
  margin: 20px 0;
  display: block;
  float: left;
  margin-right: 0%;
  width: 66.66667%;
  margin-left: 16.66667%;
  background: #fff;
  border-bottom: 70px solid #f1f1f0; }
  section.comments:last-child {
    margin-right: 0; }
  section.comments h3.edit-comment-title {
    text-align: center; }
  section.comments p {
    font-size: 0.8125em;
    word-break: break-word; }
  section.comments article.comment {
    margin-bottom: 10px;
    border-bottom: 1px solid #f1f1f0;
    display: block;
    float: left;
    margin-right: 0%;
    width: 83.33333%;
    margin-left: 8.33333%; }
    section.comments article.comment:last-child {
      margin-right: 0; }
  section.comments section.meta-date p {
    font-size: 0.6875em; }
  section.comments .user-action {
    width: 100%;
    position: relative;
    padding: 20px; }
    section.comments .user-action input, section.comments .user-action a {
      position: absolute;
      bottom: 0;
      right: 0;
      line-height: 20px;
      border: none;
      width: 70px;
      height: 20px;
      margin: 5px;
      background: #f96e5b;
      color: #fff;
      font-size: 0.625em; }
    section.comments .user-action input {
      line-height: 16px; }
    section.comments .user-action a {
      right: 80px;
      text-align: center;
      background: #6dc1d9; }
  section.comments form.comments-form {
    display: block;
    float: left;
    margin-right: 0%;
    width: 83.33333%;
    margin-left: 8.33333%;
    margin-top: 15px;
    position: relative;
    margin-bottom: 20px;
    background: #fafafa; }
    section.comments form.comments-form:last-child {
      margin-right: 0; }
    section.comments form.comments-form input, section.comments form.comments-form textarea {
      border: none;
      outline: none;
      resize: none;
      background: #fafafa;
      -webkit-transition: background 0.2s ease-in-out;
      -moz-transition: background 0.2s ease-in-out;
      transition: background 0.2s ease-in-out; }
      section.comments form.comments-form input:hover, section.comments form.comments-form textarea:hover {
        background: #F1F2F5; }
    section.comments form.comments-form textarea {
      display: block;
      padding: 30px;
      font-size: 100%;
      width: 50%;
      height: 150px;
      border: none;
      width: 100%;
      float: left; }
    section.comments form.comments-form input[type="text"] {
      display: block;
      width: 35%;
      padding: 30px;
      height: 30px;
      font-size: 100%;
      float: left; }
    section.comments form.comments-form input[type="submit"] {
      background: #6dc1d9;
      color: #fff;
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      width: 20%;
      height: 35px;
      font-size: 80%; }

/* ==========================================================================
   DashBoard - Navigation
   ========================================================================== */
nav#dashboard {
  display: block;
  float: left;
  margin-right: 0%;
  width: 100%;
  background: #3A4145;
  margin-bottom: 7px; }
  nav#dashboard:last-child {
    margin-right: 0; }
  nav#dashboard ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  nav#dashboard a {
    color: #fafafa;
    font-size: 0.8125em;
    font-weight: 200;
    padding: 0 10px; }
  nav#dashboard li {
    display: inline-block; }

div[id^="dashboard-user"] li {
  width: 100%; }

#dashboard-nav {
  float: left; }

#dashboard-user {
  text-align: right;
  float: right;
  width: 150px; }
  #dashboard-user ul li ul {
    display: none;
    position: absolute;
    top: 33px;
    background: #3A4145;
    padding: 0;
    margin: 0;
    z-index: 999; }
  #dashboard-user ul li:hover > ul {
    display: block; }
  #dashboard-user ul li ul li:hover {
    background: rgba(255, 255, 255, 0.3); }
  #dashboard-user ul li ul li ul > li {
    width: 100%; }

/* ==========================================================================
   DashBoard - post
   ========================================================================== */
.dash-postlist {
  display: block;
  float: left;
  margin-right: 0%;
  width: 41.66667%;
  box-sizing: border-box; }
  .dash-postlist:last-child {
    margin-right: 0; }

article.dash-post {
  display: block;
  float: left;
  margin-right: 0%;
  width: 100%;
  margin-bottom: 15px;
  background: #fff;
  min-height: 5.3125em;
  border-bottom: 1px solid #e8eaeb;
  overflow: hidden;
  word-break: break-word; }
  article.dash-post:last-child {
    margin-right: 0; }
  article.dash-post:hover {
    background: #afe6d9; }
  article.dash-post a {
    color: #3A4145;
    display: block; }
  article.dash-post section {
    width: 80%;
    font-size: 0.6875em;
    padding-left: 20px; }
  article.dash-post section.meta-date, article.dash-post section.meta-author {
    font-size: 0.6875em;
    font-weight: 200;
    width: 30%;
    color: #77866E; }
  article.dash-post section.meta-author {
    float: left; }
    article.dash-post section.meta-author p {
      margin: 0;
      padding: 0; }
  article.dash-post section.meta-date {
    float: right; }
  article.dash-post footer {
    font-size: 0.5625em;
    float: right; }
  article.dash-post header h2.dash-post-title {
    font-size: 1.125em;
    font-weight: 200;
    margin: 0; }
  article.dash-post header a {
    padding: 20px; }

/* ==========================================================================
   DashBoard - Forms
   ========================================================================== */
.max {
  display: block;
  float: left;
  margin-right: 0%;
  width: 100%; }
  .max:last-child {
    margin-right: 0; }

.dash-form {
  display: block;
  float: left;
  margin-right: 0%;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  position: relative; }
  .dash-form:last-child {
    margin-right: 0; }
  .dash-form input[type^="t"], .dash-form textarea {
    resize: none;
    outline: none;
    display: block;
    border: none;
    padding: 20px 15%;
    color: #3A4145;
    width: 86%;
    position: absolute; }
  .dash-form input[type="submit"] {
    width: 170px;
    height: 40px;
    margin: 5px;
    font-size: 100%;
    border: none;
    color: #fafafa;
    position: absolute;
    bottom: 0; }
  .dash-form input[id="post-delete"] {
    background: #f96e5b;
    right: 0;
    margin: 0;
    top: 45px; }
  .dash-form input[id="post-update"] {
    background: #6dc1d9;
    right: 0;
    margin: 0;
    top: 0; }
  .dash-form input[id="post-publish"] {
    background: #6dc1d9;
    right: 0;
    margin: 0;
    top: 0; }
  .dash-form input[type^="t"] {
    font-weight: 200;
    height: 50px;
    font-size: 1.5625em; }
  .dash-form textarea {
    line-height: 1.5;
    top: 50px;
    bottom: 50px;
    overflow: auto; }

/* ==========================================================================
   Dashboard \ Settings
   ========================================================================== */
.dash-settings {
  display: block;
  float: left;
  margin-right: 0%;
  width: 100%;
  background: #fff;
  min-height: 100%;
  height: 100%; }
  .dash-settings:last-child {
    margin-right: 0; }
  .dash-settings form {
    display: block;
    float: left;
    margin-right: 0%;
    width: 50%;
    margin-left: 8.33333%; }
    .dash-settings form:last-child {
      margin-right: 0; }
  .dash-settings h2 {
    text-align: center;
    *zoom: 1;
    display: block;
    border-bottom: 1px solid #e8eaeb; }
    .dash-settings h2:before, .dash-settings h2:after {
      content: " ";
      display: table; }
    .dash-settings h2:after {
      clear: both; }
  .dash-settings input[type^="t"], .dash-settings textarea {
    font-size: 100%;
    resize: none;
    outline: none;
    display: block;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    background: #F1F2F5;
    color: #3A4145; }
  .dash-settings textarea {
    height: 120px;
    width: 100%; }
  .dash-settings input[type="submit"] {
    width: 170px;
    height: 40px;
    margin: 5px;
    font-size: 100%;
    border: none;
    color: #fafafa;
    background: #6dc1d9; }

/* ==========================================================================
   Dashboard \ stats
   ========================================================================== */
.dash-stats {
  display: block;
  float: left;
  margin-right: 0%;
  width: 50%;
  width: 54%;
  float: right;
  margin: 0;
  text-align: center;
  box-sizing: border-box; }
  .dash-stats:last-child {
    margin-right: 0; }
  .dash-stats h3 {
    text-align: center;
    margin: 0; }
  .dash-stats .total-comments, .dash-stats .total-posts {
    display: block;
    float: left;
    margin-right: 0%;
    width: 50%;
    font-size: 1.25em; }
    .dash-stats .total-comments:last-child, .dash-stats .total-posts:last-child {
      margin-right: 0; }
  .dash-stats .total-comments:before {
    content: "Comments: "; }
  .dash-stats .total-posts:before {
    content: "Posts: "; }

.dash-popular-post, .dash-stats-total, .dash-latest-comments {
  margin-bottom: 15px;
  font-weight: 200; }

.dash-stats-total {
  *zoom: 1;
  display: block;
  background: #F2FFC8; }
  .dash-stats-total:before, .dash-stats-total:after {
    content: " ";
    display: table; }
  .dash-stats-total:after {
    clear: both; }

.dash-latest-comments {
  *zoom: 1;
  display: block;
  background: #CCFFC8;
  text-align: left;
  padding-left: 20px; }
  .dash-latest-comments:before, .dash-latest-comments:after {
    content: " ";
    display: table; }
  .dash-latest-comments:after {
    clear: both; }

.dash-popular-post {
  background: #FFC8C8;
  position: relative;
  *zoom: 1;
  display: block;
  text-align: left;
  padding-left: 20px; }
  .dash-popular-post:before, .dash-popular-post:after {
    content: " ";
    display: table; }
  .dash-popular-post:after {
    clear: both; }
  .dash-popular-post .dash-popular-title, .dash-popular-post .dash-popular-comment {
    width: 40%;
    height: 70px;
    display: block; }
  .dash-popular-post .dash-popular-title {
    float: left; }
  .dash-popular-post .dash-popular-comment {
    float: right; }

/* ==========================================================================
   Footer
   ========================================================================== */
footer.master-singlepost {
  min-height: 100px;
  margin-bottom: 50px;
  display: block;
  float: left;
  margin-right: 0%;
  width: 66.66667%;
  margin-left: 16.66667%;
  background: #fff; }
  footer.master-singlepost:last-child {
    margin-right: 0; }
  footer.master-singlepost .inner {
    padding: 0px 60px 20px 60px; }
    footer.master-singlepost .inner span.about-author {
      font-style: italic; }
      footer.master-singlepost .inner span.about-author h3 {
        color: rgba(109, 193, 217, 0.9);
        margin: 0;
        padding: 0;
        padding-top: 10px;
        font-style: normal;
        font-size: 0.9375em;
        border-top: 1px solid rgba(109, 193, 217, 0.16); }
      footer.master-singlepost .inner span.about-author p {
        font-size: 0.8125em;
        font-weight: 200; }
      footer.master-singlepost .inner span.about-author blockquote {
        border-left: 3px solid rgba(109, 193, 217, 0.16);
        padding-left: 15px; }

footer.master {
  display: block;
  float: left;
  margin-right: 0%;
  width: 100%;
  background: #fff; }
  footer.master:last-child {
    margin-right: 0; }

/* ==========================================================================
   Login
   ========================================================================== */
.login-form {
  display: block;
  float: left;
  margin-right: 0%;
  width: 66.66667%;
  margin-left: 16.66667%;
  text-align: center; }
  .login-form:last-child {
    margin-right: 0; }
  .login-form input {
    margin-left: 41.66667%;
    font-size: 100%;
    resize: none;
    outline: none;
    display: block;
    border: none;
    padding: 5px;
    color: #3A4145;
    width: 200px; }
  .login-form input[type="submit"] {
    width: 200px;
    height: 40px;
    font-size: 100%;
    border: none;
    color: #fafafa; }
  .login-form input[type="password"] {
    width: 200px;
    height: 40px;
    font-size: 100%;
    border-top: 1px solid #F1F2F5; }
  .login-form input[type="text"] {
    width: 200px;
    height: 40px;
    font-size: 100%;
    border: none; }

/* ==========================================================================
   ERRORS
   ========================================================================== */
.error {
  display: block;
  float: left;
  margin-right: 0%;
  width: 100%;
  background: #f96e5b;
  color: #fff;
  padding: 10px 20px;
  margin-bottomc: 7px; }
  .error:last-child {
    margin-right: 0; }
  .error ul {
    list-style-type: none; }
