

/* ==========================================================================
   0. Includes
   ========================================================================== */

@import "../../bourbon/bourbon";
$gutter: golden-ratio(0em, 1) !default;
@import "../../neat/neat";


@include font-face(OpenSans, '../fonts/opensans_light_swedish/OpenSans-regular-webfont');



/* ==========================================================================
   1. General - Base Styles
   ========================================================================== */


html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    max-height: 100%;
    font-family: 'OpenSans', serif;
    font-size: 2.0rem;
    line-height: 1.6em;
    color: #3A4145;
    background: #F1F1F0;
    margin: 0;
}
a, a:visited, a:link {
    text-decoration: none;
}

::-moz-selection {
    color: #222;
    background: #f96e5b;
    text-shadow: none;
}

::selection {
    color: #222;
    background: #f96e5b;
    text-shadow: none;
}

main {
    @include outer-container;
    position: relative;
    height: 100%;
}

input[type="submit"] {
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}
input {
    font-family: 'OpenSans', serif;
}
textarea {
    font-family: Helvetica Neue, Helvetica, serif;
    font-size: em(14);
    font-weight: 200;
}


/* ==========================================================================
   2. Content - Header
   ========================================================================== */
header#main-header {
    @include outer-container;
    margin-top: -10px;
}

.inner-header {
    @include span-columns(8);
    @include shift(2);
    background: #F6DE79;
    height: 40%;
    min-height: 400px;
    display: table;
}

.site-title {
    color: #fff;
    a {
        color: #fff;
    }
}
.v-middle {
    display: table-cell;
    vertical-align: middle;
    word-break: break-word;
}
.site-bio {
    
    text-align: center;
    width: 100%;
}
/* ==========================================================================
   3. Content - Posts
   ========================================================================== */

article.post {
    @include span-columns(8);
    @include shift(2);    
    background: #fff;
    @include pad(40px 60px 20px 60px);

    section {
        padding-bottom: 20px;
        p {
            word-break: break-word;
        }

    }
    .meta-date {
        font-size: em(14);
        color: #999;
    }    
}

.post-title a {
    color: #7bc1a1;
    @include transition (color 0.2s ease-in-out);
    &:hover{
        color: #639b81;

    }
    
}

/* ==========================================================================
   3. Content - Single Post
   ========================================================================== */
/* ==========================================================================
   Content - Post Comments
   ========================================================================== */

section.comments {
    margin: 20px 0;
    @include span-columns(8);
    @include shift(2);
    background: #fff;
    border-bottom: 70px solid #f1f1f0;
    h3.edit-comment-title {
        text-align: center;
    }
    p {
        font-size: em(13);
        word-break: break-word;
    }
    article.comment {
        margin-bottom: 10px;
        border-bottom: 1px solid #f1f1f0;
        @include span-columns(10);
        @include shift(1);
        
    }
    section.meta-date  {
        p {
            font-size: em(11);
            
        }
    }
    .user-action {
        @include fill-parent;
        position: relative;
        padding: 20px;
        input, a {
            position: absolute;
            bottom: 0;
            right: 0;
            line-height: 20px;
            border: none;
            width: 70px;
            height: 20px;
            margin: 5px;
            background: #f96e5b; 
            color: #fff;
            font-size: em(10);
        }
        input {
            line-height: 16px;
        }
        a {
            right: 80px;
            text-align: center;
            background: #6dc1d9;
        }


    }
    form.comments-form {
    @include span-columns(10);
    @include shift(1);
    margin-top: 15px;
    position: relative;
    margin-bottom: 20px;
    background: #fafafa;
    
        input, textarea {
            border: none;
            outline: none;
            resize: none;
            background: #fafafa;
            @include transition (background 0.2s ease-in-out);
            &:hover {
                background: #F1F2F5;
            }            
        }
        textarea {
            display: block;
            padding: 30px;
            font-size: 100%;
            width: 50%;
            height: 150px;
            border: none;
            @include fill-parent;
            float: left;

        }
        input[type="text"] {
            display: block;
            width: 35%;
            padding: 30px;
            height: 30px;
            font-size: 100%;
            float: left;
        }
        input[type="submit"] {
            background: #6dc1d9; 
            color: #fff;
            position: absolute;
            right: 0;
            bottom: 0;
            display: block;
            width: 20%;
            height: 35px;
            font-size: 80%;
        }


    }
}








/* ==========================================================================
   DashBoard - Navigation
   ========================================================================== */
    nav#dashboard {
        @include span-columns(12);  
        background: #3A4145;
        margin-bottom: 7px;
        ul {
            list-style-type: none;
            margin: 0;
            padding:0;
        }
        a {
            color: #fafafa;
            font-size: em(13);
            font-weight: 200;
            padding: 0 10px;
        }
        li {
            display: inline-block;
        }
    }
    div[id^="dashboard-user"] {
        li {
            width: 100%;
        }
    }
    #dashboard-nav {
        float: left;
        
    }
    #dashboard-user {
        text-align: right;
        float: right;
        width: 150px;
        ul li ul {
            display: none;
            position: absolute;
            top: 33px;
            background: #3A4145;
            padding: 0;
            margin: 0;
            z-index: 999;
        }
        ul li {
            &:hover > ul{
                display: block;
            }
        ul li {
            &:hover {
               background: rgba(255,255,255,0.3);
            }
        } 
        ul li ul > li {
            width: 100%;
        }
            
            
        }
        

        
    }
   

    /* ==========================================================================
       DashBoard - post
       ========================================================================== */
    .dash-postlist {
        @include span-columns(5);
        box-sizing: border-box;
    }
    article.dash-post {
        @include span-columns(12);
        margin-bottom: 15px;
        background: #fff;
        min-height: em(85);
        border-bottom: 1px solid #e8eaeb;
        overflow: hidden;
        word-break: break-word;
        &:hover {
            background: #afe6d9;
        }
        a {
            color: #3A4145;
            display: block;
        }
        section {
            width: 80%;
            font-size: em(11);
            padding-left: 20px;
        }
        section.meta-date, section.meta-author {
            font-size: em(11);
            font-weight: 200;
            width: 30%;
            color: #77866E;

        }
        section.meta-author {
            float: left;
            p {
                margin:0;
                padding: 0;
            }
        }
        section.meta-date {
            float: right;
        }
        footer {
            font-size: em(9);
            float: right;
        }
        header {
            
            h2.dash-post-title {
                font-size: em(18);
                font-weight: 200;
                margin: 0;

            }
            a {
                @include pad(20px);

            }
        }

    }
    

    /* ==========================================================================
       DashBoard - Forms
       ========================================================================== */
    .max {
        @include span-columns(12);
    }
    .dash-form {
        @include span-columns(12);
        box-sizing: border-box;
        height: 100%;
        position: relative;
        input[type^="t"], textarea {
            resize: none;
            outline: none;
            display: block;
            border: none;
            padding: 20px 15%;
            color: #3A4145;
            width: 86%;
            position: absolute;
        }
        input[type="submit"] {
            width: 170px;
            height: 40px;
            margin: 5px;
            font-size: 100%;
            border: none;
            color: #fafafa;
            position: absolute;
            bottom: 0;
        }
        input[id="post-delete"] {    
            background: #f96e5b;       
            right: 0;
            margin: 0;
            top: 45px;
        }
        input[id="post-update"] {  
            background: #6dc1d9;        
            right: 0;
            margin: 0;
            top: 0;
        }
        input[id="post-publish"] {  
            background: #6dc1d9;        
            right: 0;
            margin: 0;
            top: 0;
        }        
        input[type^="t"] {
            font-weight: 200;
            height: 50px;
            font-size: em(25);
        }
        textarea {
            line-height: 1.5;
            top: 50px;
            bottom: 50px;
            overflow: auto;



        }
    }
    /* ==========================================================================
       Dashboard \ Settings
       ========================================================================== */
    .dash-settings {
        @include span-columns(12);
        background: #fff;
        min-height: 100%;
        height: 100%;
        form {
            @include span-columns(6);
            @include shift(1);

        }
        h2 {
            text-align: center;
            @include row;
            border-bottom: 1px solid #e8eaeb;
        }
        input[type^="t"], textarea {
            font-size: 100%;
            resize: none;
            outline: none;
            display: block;
            border: none;  
            margin-bottom: 10px;
            padding: 10px;
            background: #F1F2F5;
            color: #3A4145;
        }
        textarea {
            height: 120px;
            width: 100%;
        }
        input[type="submit"] {
            width: 170px;
            height: 40px;
            margin: 5px;
            font-size: 100%;
            border: none;
            color: #fafafa;
            background: #6dc1d9;

        }
    }
    /* ==========================================================================
       Dashboard \ stats
       ========================================================================== */
    .dash-stats {
        @include span-columns(6);
        width: 54%;
        float: right;
        margin: 0;
        text-align: center;
        box-sizing: border-box;

        
        h3 {
            text-align: center;
            margin: 0;
        }

        .total-comments, .total-posts {
            @include span-columns(6);
            font-size: em(20);

        }
        .total-comments {
            &:before {
                content: "Comments: ";
            }
        }
        .total-posts {
            &:before {
                content: "Posts: ";
            }
        }
    }
    .dash-popular-post, .dash-stats-total, .dash-latest-comments {
        margin-bottom: 15px;
        font-weight: 200;
    }
    .dash-stats-total {
        @include row;
        background: #F2FFC8;
    }
    .dash-latest-comments {
        @include row;
        background: #CCFFC8;
        text-align: left;
        padding-left: 20px;
    }
    .dash-popular-post {
        background: #FFC8C8;
        position: relative;
        @include row;
        text-align: left;
        padding-left: 20px;
        .dash-popular-title, .dash-popular-comment {
            width: 40%;
            height: 70px;
            display: block;
            
        }
        .dash-popular-title {
            float: left;
        }
        .dash-popular-comment {
            float: right;

        }
    }
    
    /* ==========================================================================
       Footer
       ========================================================================== */
    footer.master-singlepost {
        min-height: 100px;
        margin-bottom: 50px;
        @include span-columns(8);
        @include shift(2);
        background: #fff;
        .inner {
            @include pad(0px 60px 20px 60px);

            span.about-author {

                h3 {
                    color: rgba(109, 193, 217, 0.9);
                    margin: 0;
                    padding: 0;
                    padding-top: 10px;

                    font-style: normal;
                    font-size: em(15);
                    border-top: 1px solid rgba(109, 193, 217, 0.16);
                }
                p {
                    font-size: em(13);
                    font-weight: 200;
                }
                blockquote {
                    border-left: 3px solid rgba(109, 193, 217, 0.16);
                    padding-left: 15px;
                }
                font-style: italic;
            }
        }
    }
    
    footer.master {
        @include span-columns(12);
        background: #fff;
    }
    
/* ==========================================================================
   Login
   ========================================================================== */

.login-form {
    @include span-columns(8);
    @include shift(2);
    text-align: center;

        input {
            @include shift(5);
            font-size: 100%;
            resize: none;
            outline: none;
            display: block;
            border: none;
            padding: 5px;
            color: #3A4145;
            width: 200px;
        }
        input[type="submit"] {
            width: 200px;
            height: 40px;
            font-size: 100%;
            border: none;
            color: #fafafa;
        }
        input[type="password"] {
            width: 200px;
            height: 40px;
            font-size: 100%;
            border-top: 1px solid #F1F2F5;
        }
        input[type="text"] {
            width: 200px;
            height: 40px;
            font-size: 100%;
            border: none;
        }

}


/* ==========================================================================
   ERRORS
   ========================================================================== */
.error {
    @include span-columns(12);
    background: #f96e5b;
    color: #fff;
    @include pad(10px 20px);
    margin-bottomc: 7px;
    ul {
        list-style-type: none;
    }
}






